params {
    // Limit resources so that this can run on GitHub Actions
    // Input data
    reads                          = "$baseDir/assets/test_reads.csv"
    
    // Settings
    filter_contigs                 = false
    save_filtered_assemblies_fasta = false
    mmseqs_func_db                 = "eggnog"
    cluster_genes                  = true
}