params {
    // Limit resources so that this can run on GitHub Actions
    // Input data
    assemblies                     = "$baseDir/assets/test_assemblies.csv"
    reads                          = "$baseDir/assets/test_reads.csv"
    
    // Settings
    filter_contigs                 = true
    filter_taxon_list              = "!9606"
    save_filtered_assemblies_fasta = false
    mmseqs_func_db                 = "eggNOG"
}