params {
    // Limit resources so that this can run on GitHub Actions
    // Input data
    assemblies                     = 'assets/test_assemblies.csv'
    reads                          = 'assets/test_reads.csv'

    // Input databases
    mmseqs_tax_db_local            = "/groups/jmd20jns/databases/mmseqs_nr/"
    mmseqs_func_db_local           = "/groups/jmd20jns/databases/mmseqs_eggnog"
    eggnog_db                      = "/groups/jmd20jns/databases/eggnog"
    
    // Settings
    filter_contigs                 = false
    save_filtered_assemblies_fasta = false
    enable_annotation              = true
}