params {
    // Limit resources so that this can run on GitHub Actions
    // Input data
    assemblies                     = "$baseDir/assets/test_assemblies.csv"
    reads                          = "$baseDir/assets/test_reads.csv"
    
    // Settings
    mmseqs_func_db                 = "UniProtKB/Swiss-Prot"
    cluster_genes                  = true
}