params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = '6.GB'
    max_time   = '6.h'
    
    // Input data
    reads                          = "$baseDir/assets/test_reads.csv"
    
    // Settings
    filter_contigs                 = false
    save_filtered_assemblies_fasta = false
    mmseqs_func_db                 = "eggNOG"
    cluster_genes                  = true
}